<!DOCTYPE html>
<html>
<!--
====================================================
    __  ____  ______________  _______ ___    __ 
   / / / /  |/  / ____/   \ \/ / ___//   |  / / 
  / /_/ / /|_/ / /_  / /| |\  /\__ \/ /| | / /  
 / __  / /  / / __/ / ___ |/ /___/ / ___ |/ /___
/_/ /_/_/  /_/_/   /_/  |_/_//____/_/  |_/_____/
                                                     
====================================================
Owner Name: Hossain Mohammad Faysal
Profile: https://www.facebook.com/hmfaysal
Version: 1.1
Description: Awesome dude, awesome life
====================================================
-->
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
<header class="notepad-site-head">
    {% if site.header_bg %}<div class="notepad-parallax-background" style="background-image: url({{ site.url }}/images/{{site.header_bg}})"></div>{% endif %}

    <div class="notepad-site-head-content" style="height: 500px">
    </div>
</header>


<main class="notepad-content" role="main">
    <div class="row">
    <h1>Estado provisional <small>Mi experiencia con la esclerosis múltiple</small></h1>
            {{ content }}
</main>
    {% include footer.html %}

{% include scripts.html %}  
</body>
</html>
